
    body    
    {background-color: rgba(19, 153, 153, 0.884);
    
    }
    h1 
    {color: rgb(34, 13, 155);
    background-color: green;
    text-align: center;
    
    }
    p 
    {color: rgb(206, 10, 10);
    text-align:right;
    
    }

    table, th, td {
        border: 1px solid black;
      }